.root
{
	-fx-background-color: blue;
}
.label
{
	-fx-text-fill: white;
}

.button
{
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-border-color: black;
	-fx-border-radius: 2px;
	
}

#message-label
{
	-fx-font-size: 20px;
}

#msg-container
{
	-fx-border-color: white;
}

.menu .label
{
	-fx-text-fill: black;
}

#stats-vbox .label
{
	-fx-font-size: 20px;
}